<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener Microservice </title>
</head>
<body>
  <h1>URL Shortner</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>number</th>
      </tr>
    </thead>
    
  </table>
</body>
</html>
